@model Prismproject_A.Models.BoxMain

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BoxMain</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BoxNumber" class="control-label"></label>
                <input asp-for="BoxNumber" class="form-control" />
                <span asp-validation-for="BoxNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SampleType" class="control-label"></label>
                <input asp-for="SampleType" class="form-control" />
                <span asp-validation-for="SampleType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boxlocation" class="control-label"></label>
                <input asp-for="Boxlocation" class="form-control" />
                <span asp-validation-for="Boxlocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F4" class="control-label"></label>
                <input asp-for="F4" class="form-control" />
                <span asp-validation-for="F4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F5" class="control-label"></label>
                <input asp-for="F5" class="form-control" />
                <span asp-validation-for="F5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
