@model Prismproject_A.Models.FreezerDetails

@{
    ViewData["Title"] = "Edit";
}

<div class="flex-1 bg-white p-10">
    <h1 class="text-2xl font-bold mb-4">Edit Sample</h1>


    <hr class="mb-4">

    <div class="flex justify-center">
        <div class="w-2/3">
            <form asp-action="Edit" class="bg-gray-100 shadow-md rounded px-10 pt-6 pb-8 mb-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                    <label asp-for="Freezername" class="block text-gray-700 text-sm font-bold mb-2"></label>
                <input asp-for="Freezername" class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm p-2" />
                <span asp-validation-for="Freezername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Compartment" class="block text-gray-700 text-sm font-bold mb-2"></label>
                <input asp-for="Compartment" class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm p-2" />
                <span asp-validation-for="Compartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rack" class="block text-gray-700 text-sm font-bold mb-2"></label>
                <input asp-for="Rack" class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm p-2" />
                <span asp-validation-for="Rack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="block text-gray-700 text-sm font-bold mb-2"></label>
                <input asp-for="Position" class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm p-2" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
                <div class="flex items-center justify-between">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Save
                    </button>
                    <a href="@Url.Action("Index")" class="inline-block px-4 py-2 bg-gray-500 text-white rounded">Back to Samples</a>
                </div>
        </form>
    </div>
</div>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
